<nav class="navbar p-1" [ngClass]="{'navbar-light bg-light': !isTenant}" [ngStyle]="styles">
  <a class="navbar-brand pl-1" routerLink='/home'>
    <img src="assets/imgs/logo.png" class="d-inline-block align-bottom mr-2" [ngClass]="{'navbar__logo-sm': isTenant, 'navbar__logo': !isTenant}">
    <img src="assets/imgs/tenant.png" class="align-top" [ngClass]="{'d-inline-block navbar__logo': isTenant, 'd-none': !isTenant}">
    <span class="text-dark d-none d-sm-inline-block">{{companyName}}</span>
    <sub class="ml-1"></sub>
  </a>
  <nav class="nav p-1">
    <a class="border-bottom p-1" *ngFor="let item of items" (click)="activateRouteItem(item)" [ngClass]="[isCurrentPage(item) ? 'border-warning' : 'border-light', item.group?'ml-2 pl-2':'']">
      <img [attr.src]="'assets/imgs/icons/'+item.id+'.png'" class="d-inline-block align-top navbar__icon">
    </a>
  </nav>
</nav>
